# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
env/
finalYearEnv/

# Editor directories and files
.idea/
*.swp
*.bak
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Packaged application
*.egg
*.egg-info
dist/
build/